{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<div id="Banner-{{ section.id }}" class="banner page-width">
  <div class="banner__content">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <h1
            class="banner__heading inline-richtext {{ block.settings.heading_size }}"
            {{ block.shopify_attributes }}
          >
            {{ block.settings.heading }}
          </h1>
        {%- when 'text' -%}
          <div class="banner__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
            <p>{{ block.settings.text }}</p>
          </div>
        {%- when 'buttons' -%}
          {%- if block.settings.button_label_1 != blank -%}
            <a
              {% if block.settings.button_link_1 == blank %}
                role="link" aria-disabled="true"
              {% else %}
                href="{{ block.settings.button_link_1 }}"
              {% endif %}
              class="banner__button button button--primary"
            >
              {{- block.settings.button_label_1 | escape -}}
            </a>
          {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}
  </div>

  <div class="banner__image-group">
    {%- if section.settings.image != blank -%}
      <img
        class="banner__media"
        alt="{{ section.settings.image.alt }}"
        src="{{ section.settings.image | image_url }}"
        width="auto"
        height="auto"
        loading="eager"
      >

    {%- elsif section.settings.image == blank -%}
      <img
        class="banner__media"
        alt="Photo d'une bouteille de rhum arrangé goût ananas vanille"
        src="{{ 'img-placeholder-bottle.png' | asset_url }}"
        width="auto"
        height="auto"
        loading="eager"
        ​​​​​​
      >
    {%- endif -%}

    <img
      class="banner__bg"
      alt="Illustration de plantes dorrées se situant derrière la bouteille"
      src="{{ 'img-bg-home.png' | asset_url }}"
      width="auto"
      height="auto"
      loading="eager"
      ​​​​​​
    >
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
